body {
    background: #E9EFB4;
    background-image: url("games.jpg");
    background-repeat: no-repeat;
    background-size: 137%;
}

.title {
    font-family: "Monoton";
    color: #272E26;
    font-size: 40px;
    margin-bottom: 0px;
}

.choose {
    font-family: "Monoton";
    font-size: 20px;
    color: #272E26;
}

div {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#canvas {
    background-color:rgb(100, 96, 96);
}

.pixel {
    background-color: rgb(255,255,255);
    height: 15px;
    width: 15px;
}